.login {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  .login .leftSide {
    height: 100%;
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login .leftSide form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 80px;
  }
  
  .login .leftSide form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
    margin-bottom: 10px;
  }
  
  .login .leftSide form button {
    width: 140px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
    border-radius: 8px;
  }

  .login .leftSide form button.signup,
  .login .leftSide form button.forgot {
    background-color: transparent;
    color: #8f8f8f;
    margin-right: 150px;
    font-size: smaller;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .login .leftSide form button.signup:hover,
  .login .leftSide form button.forgot:hover {
    color: #1d1d1d; 
}
  
  .login .rightSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }