.navbar {
    width: 100%;
    height: 100px;
    background-color: #2e2d2d;
    display: flex;
    flex-direction: row;
    z-index: 100;
    top: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 24px;
  }
  
  .navbar .levaStrana {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  }
  
  .navbar .levaStrana img {
    width: 100px;
  }
  
  .navbar .desnaStrana {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    margin: 30px;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .navbar a {
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis; 
    }
  
    .navbar .desnaStrana {
      justify-content: flex-end;
    }
  
    .navbar .hiddenLinks {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 80px;
      right: 20px;
      background-color: #2e2d2d;
      padding: 10px;
    }
  
    .navbar .desnaStrana button {
      margin-left: auto;
    }
  }